# Xcode
*.xcodeproj/
xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
!default.xcworkspace
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
*.swp
*~

# Python
__pycache__/
*.pyc
*.wav

# Test files
test_*.wav
